<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Корзина</title>
    <link rel="stylesheet" href="src/public/stylesheets/cart_style.css">
</head>
<body>
    <div class="container">
        <h1>Корзина</h1>
        <div class="cart">
            <ul id="cart-items">
                {{#if cartItems.length}}
                    {{#each cartItems}}
                        <li>
                            {{this.name}} - {{this.quantity}} x {{this.price}} руб.
                            <button class="remove-item" data-id="{{this.id}}">Удалить</button>
                        </li>
                    {{/each}}
                {{else}}
                    <li>Корзина пуста</li>
                {{/if}}
            </ul>
            <div class="cart-total">
                <strong>Итого: </strong>
                <span id="cart-total-price">{{totalPrice}} руб.</span>
            </div>
        </div>
  
    </div>

</body>
</html>