<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Корзина</title>
    <link rel="stylesheet" href="/stylesheets/cart_style.css">
</head>
<body>
    <div class="container">
        <h1>Корзина</h1>
        <div class="cart">
            <ul id="cart-items">
                {{#if cartItems.length}}
                    {{#each cartItems}}
                        <li>
                            {{this.name}} - {{this.quantity}} x {{this.price}} руб.
                            <button class="remove-item" data-id="{{this.id}}">Удалить</button>
                        </li>
                    {{/each}}
                {{else}}
                    <li>Корзина пуста</li>
                {{/if}}
            </ul>
            <div class="cart-total">
                <strong>Итого: </strong>
                <span id="cart-total-price">{{totalPrice}} руб.</span>
            </div>
        </div>
  
    </div>

<script>
   document.addEventListener('DOMContentLoaded', async () => {
  const cartItems = document.getElementById('cart-items');
  const cartTotalPrice = document.getElementById('cart-total-price');


  async function fetchCart() {
    const response = await fetch('/cart');
    const data = await response.json();
    return data;
  }

  async function updateCart() {
    const cart = await fetchCart();
    cartItems.innerHTML = '';
    let totalPrice = 0;

    cart.forEach(item => {
      const li = document.createElement('li');
      li.innerHTML = `
        ${item.productId} - ${item.quantity} шт.
        <button class="remove-item" data-id="${item.id}">Удалить</button>
      `;
      cartItems.appendChild(li);
      totalPrice += item.price * item.quantity;
    });

    cartTotalPrice.textContent = `${totalPrice} руб.`;
  }

  async function removeItem(id) {
    await fetch(`/cart/remove/${id}`, { method: 'DELETE' });
    updateCart();
  }


  cartItems.addEventListener('click', (event) => {
    if (event.target.classList.contains('remove-item')) {
      const itemId = event.target.dataset.id;
      removeItem(itemId);
    }
  });

 
  updateCart();
}); 
</script>
</body>
</html>
