<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/register_style.css">
    <title>Регистрация</title>
</head>
<body>
    <div class="main">
        <div class="forms">
            <h2>Регистрация</h2>
            
            {{#if error}}
                <div class="alert alert-danger">{{error}}</div>
            {{/if}}
            
            <form action="/auth/register" method="POST">
                <div class="form-group">
                    <input type="text" class="register-form-control" name="name" 
                           placeholder="Введите ФИО пользователя" 
                           value="{{formData.name}}" required>
                </div>
                <div class="form-group">
                    <input type="tel" class="register-form-control" name="phone" 
                           placeholder="Введите номер телефона" 
                           value="{{formData.phone}}" required>
                </div>
                <div class="form-group">
                    <input type="email" class="register-form-control" name="email" 
                           placeholder="Введите ваш email" 
                           value="{{formData.email}}" required>
                </div>
                <div class="form-group">
                    <input type="text" class="register-form-control" name="username" 
                           placeholder="Введите имя пользователя (логин)" 
                           value="{{formData.username}}" required>
                </div>
                <div class="form-group">
                    <input type="password" class="register-form-control" name="password" 
                           placeholder="Введите пароль" required>
                </div>
                <div class="form-group">
                    <input type="password" class="register-form-control" name="confirmPassword" 
                           placeholder="Подтвердите пароль" required>
                </div>
                <div class="form-group">
                    <input type="number" class="register-form-control" name="age" 
                           placeholder="Введите ваш возраст" 
                           value="{{formData.age}}" required>
                </div>
                <div class="form-group">
                    <select name="role" class="register-form-control" required>
                        <option value="1">Пользователь</option>
                        <option value="2">Администратор</option>
                    </select>
                </div>
                <button type="submit" class="register-form-control">Зарегистрироваться</button>
            </form>
            <p>Уже есть аккаунт? <a href="/auth/login">Войти</a></p>
        </div>
    </div>
</body>
</html>